#menu {
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid gray;
}

#menu a {
    height: 10vh;
    margin-bottom: 15px;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 12px;
    vertical-align: text-bottom;
    text-decoration: none;
    display: flex;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#indicator {
    display: block;
    position: absolute;
    height: 2px;
    background-color: gray;
    bottom: 0;
}