#menu {
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid gray;
    padding: 0 100px;
}

#menu .menu-item {
    color: #909091;
    height: 10vh;
    margin-bottom: 15px;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 12px;
    vertical-align: text-bottom;
    text-decoration: none;
    display: flex;
    font-family: "Arial",sans-serif;
}

#menu .menu-item:hover {
    color: #3380c4;
}

#menu .menu-item.active {
    color: #060607;
}

#indicator {
    display: block;
    position: absolute;
    height: 2px;
    background-color: #060607;
    bottom: 0;
    transition: left 0.5s ease;
}